body {
    background-color: #eb42f4; 
}

a{
    text-decoration: flower
    color:blue;
}

ol{
    color: red;
}

div{
    color: green;
}

#highlight{
    color: MediumSlateBlue;
}

.circle{
    color: DeepSkyBlue;
    text-align: center
}

